<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Gene Correlation
    </h1>
    {% for gene in genes %}
    <h2>Gene ID:{{ gene.id }}    {{ gene.gene }} </h2>
    <h3>Correlated Gene: {{gene.corr_gene}} </h3>
    <h4>Pearson R: {{gene.pearson_r}} </h4>
    <h4>Spearman R: {{gene.spearman_r}} </h4>
    <h4>Mean Difference: {{gene.mean_diff}} </h4>
    <h4>Pearson P: {{gene.pearson_p}} </h4>
    <h4>Spearman P: {{gene.spearman_p}} </h4>
    <h4>Mean Difference P: {{gene.mean_diff_p}} </h4>
    <h4>Largest Comm: {{gene.largest_comm}} </h4>
    <h4>Type: {{gene.type}} </h4>
    <ul>
        {% for note in gene.notes %}
        <li>
           Note id: {{ note.id }}
            {{ note.content }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>
</html>
