<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        Gene Correlation
    </h1>
    {% for gene in genes %}
        <h2>Gene: {{ gene.gene }}</h2>
        {% for correlation in gene.correlations %}
            <h3>Correlated Gene: {{ correlation.corr_gene }}</h3>
            <p>Pearson R: {{ correlation.pearson_r }}</p>
            <p>Spearman R: {{ correlation.spearman_r }}</p>
            <p>Mean Difference: {{ correlation.mean_diff }}</p>
            <p>Pearson P: {{ correlation.pearson_p }}</p>
            <p>Spearman P: {{ correlation.spearman_p }}</p>
            <p>Mean Difference P: {{ correlation.mean_diff_p }}</p>
            <p>Largest Comm: {{ correlation.largest_comm }}</p>
            <p>Type: {{ correlation.type }}</p>
        {% endfor %}
        <ul>
            {% for note in gene.notes %}
                <li>
                    Note: {{ note.content }}
                    Date: {{ note.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>



